/* colors for brand */
.blue
{
    color: #537fbe;
}
.red
{
    color: #ea433b;
}

.teal
{
    color: teal;
}

.green
{
    color: #2e944b;
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}